$color__primary: #FF7339;
$color__secondary: #00B5CC;
$color__accent: #FEC10D;
$color__black: #000000;
$color__white: #FFFFFF;
$color__text: #454545;
$color__heading: #525252;

$color__bg: #FFE500;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__primary; //royalblue
$color__link-visited: $color__primary; //purple
$color__link-hover: $color__secondary; //midnightblue
$color__text-main: #454545;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
