input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__secondary;
	border: 1px solid #C7C7C7;
	border-radius: 0;
	background-color: #F4F4F4;
	padding: 10px 15px;
	margin-bottom: 1rem;
	transition: all 0.4s;
	width: 100%;
	@include font(2rem, 1.3, 300);
	@media (max-width: 575px) {
		font-size: 1.6rem;
	}

	&:focus {
		border-color: $color__primary;
		box-shadow: none;
		border-radius: 0;
		outline: 0;
	}

	&:focus-visible {
		outline: 0;
	}
}

.contact-form-wrapper {
	input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"]) {
		height: 80px;
	}

	.wpcf7-form {
		max-width: 660px;
		margin: 0 auto;
	}

	.input-field {
		margin-bottom: 10px;

		p {
			margin-bottom: 0;
		}

		label {
			display: block;
			margin-bottom: 1rem;
			color: $color__secondary;
			font-weight: 700;
		}
	}

	.wpcf7-list-item {
		display: inline-block;
		margin-left: 0;
	}
}

label {
	display: block;
	margin-bottom: 1rem;

	input[type="password"] {
		margin-top: 1rem;
	}
}

select {
	border: 1px solid #E5E7E8;
	font-size: 18px;
	padding: 10px 20px;
}

textarea {
	width: 100%;
}

input[type="submit"] {
	background-color: $color__primary;
	color: $color__white;
	border: 1px solid $color__primary;
	padding: 13px 30px;
	transition: all 0.4s;
	@include font(2rem, 1.5, 300);
	@media (max-width: 575px) {
		font-size: 1.6rem;
	}
	@media (max-width: 575px) {
		padding: 1rem 2rem;
	}
	&:hover {
		background-color: $color__accent;
		color: $color__white;
		border-color: $color__accent;
	}

	&.contact-submit {
		border: 0;
		padding: 0;
		position: relative;
		text-decoration: underline;
		color: $color__white;

		&:hover {
			background-color: transparent;
			color: $color__white;
		}
	}
}

.wp-block-search__inside-wrapper {
	@media (max-width: 400px) {
		flex-wrap: wrap;
	}

	input[type="search"] {
		margin-bottom: 0;
		@media (max-width: 400px) {
			margin-bottom: 1rem;
		}
	}

	// .wp-block-search__button {
	// 	border-radius: 0;
	// 	@media (max-width: 400px) {
	// 		margin-left: 0;
	// 	}
	// 	position: relative;
	// 	background-color: transparent;
	// 	&:after {
	// 		content: "";
	// 		transition: all 0.4s;
	// 		background: $color__primary;
	// 		clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 		bottom: 0;
	// 		left: 0;
	// 		z-index: -1;
	// 	}
	// }
}

.contact-form {
	input[type="text"],
	input[type="email"] {
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		padding-left: 0;

		&::placeholder {
			color: $color__primary;
		}

		&:focus {
			background-color: transparent;
			box-shadow: none;
			outline: 0;
		}
	}
}
