.jumpin-job {
	position: relative;
	background: #fff;
	padding: 105px 40px 80px;
	border-radius: 17px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);

	&:not(:last-child) {
		margin-bottom: 80px;
	}

	&__location {
		color: $color__white;
		background: $color__secondary;
		position: absolute;
		top: -26px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 24px;
		font-weight: 900;
		padding: 11px 20px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
		border-radius: 30px;
		min-width: 300px;
		display: inline-block;
		text-align: center;
	}

	&__title {
		color: #454545;
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 17px;
	}

	&__btn {
		font-family: $font__heading;
		font-weight: 900;
		font-size: 28px;
		background: $color__bg;
		color: $color__secondary;
		display: inline-block;
		padding: 5px 43px;
		border-radius: 30px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
	}
}
